<footer class="container navbar-static-bottom">
	<div class="row">
		<div class="col-md-8 col-sm-6 col-xs-12" id="footer-left">		
			<div id="social">					
				<a href="#">
					<i data-original-title="Facebook" data-toggle="tooltip" class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i data-original-title="Twitter" data-toggle="tooltip" class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i data-original-title="Instagram" data-toggle="tooltip" class="fa fa-instagram fa-3x" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i data-original-title="Google+" data-toggle="tooltip" class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
				</a>
			</div>		
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12" id="footer-right">
			<span class="fa fa-copyright"></span> 2016
			<br>
			Vins et jeux.
			<br>
			All Rights Reserved.
		</div>
	</div>
</footer>